<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/turtle.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '511187039699348');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=511187039699348&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
        window.extAsyncInit = function () {
            MessengerExtensions.getSupportedFeatures(function success(result) {
                let features = result.supported_features;
                if (features.indexOf("context") != -1) {
                    MessengerExtensions.askPermission(
                        function (permission_response) {
                            // Person grants or rejects the asked permission.
                            let permissions = permission_response.permissions; // list of all permissions granted
                            let isGranted = permission_response.isGranted;

                            if (isGranted) {
                                // User has granted user_profile permission
                                MessengerExtensions.getContext(325532075064592,
                                    function success(thread_context) {
                                        // success
                                        console.log(thread_context);
                                        document.getElementById('submitButton').addEventListener('click', function () {
                                            var form = document.getElementById('insertPurchase');
                                            console.log(form.elements);
                                            for (var i = 0; i < form.elements.length - 1; i++) {
                                                if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                                                    return false;
                                                }
                                            }
                                            form.submit();
                                            fbq('track', 'AddToCart', {
                                                content_name: 'Turtle Scratch & Swirl Remover'
                                            });
                                            MessengerExtensions.requestCloseBrowser(function success() {
                                                console.log("Webview closing");
                                            }, function error(err) {
                                                console.log(err);
                                            });
                                        })
                                    },
                                    function error(err) {
                                        console.log(err);
                                    }
                                );
                            }
                        }, function (errorCode, errorMessage) {
                            // Error occurred
                            console.log(errorMessage);
                        },
                        "user_profile"
                    );
                }
            }, function error(err) {
                console.log(err);
            });
        };
    </script>
    <form role="form" id="insertPurchase" method="POST" action="/product/turtle/<%= psid %>">
        <div id="ad">
            <img src='/images/Cash on Delivery!.png' width=405px height=150px>
        </div>
        <br>
        <div class="container">
            <div class="card">
                <fieldset class="form-group">
                    <h6 align="center" class="card-header">
                        <legend class="col-form-label col-sm-2 pt-0">
                            [Turtle Scratch & Swirl Remover]
                            <br>
                            Please select your order!
                        </legend>
                    </h6>
                    <div>
                        <img src="/images/<%= product %>.png" style="width:360px;height:360px;">
                    </div>
                    <div class="card-body">
                        <div class="col-sm-10">
                            <% if (package === '1') { %>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="howmany" id="comboOne"
                                    value="[Turtle Scratch & Swirl Remover]_1 Bottle - RM135" checked>
                                <label class="form-check-label" for="howmany">
                                    1 Bottle - RM135
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="howmany" id="comboTwo"
                                    value="[Turtle Scratch & Swirl Remover]_2 Bottles - RM180">
                                <label class="form-check-label" for="howmany">
                                    2 Bottles - RM180 (66% OFF for 2nd bottle)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="howmany" id="comboThree"
                                    value="[Turtle Scratch & Swirl Remover]_3 Bottles - RM202">
                                <label class="form-check-label" for="howmany">
                                    3 Bottles - RM202 (FREE 3rd bottle, 50% OFF for 2nd bottle)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="howmany" id="comboFour"
                                    value="[Turtle Scratch & Swirl Remover]_4 Bottles - RM243">
                                <label class="form-check-label" for="howmany">
                                    4 Bottles - RM243 (FREE 4th bottle, 60% OFF for 2nd & 3rd bottle)
                                </label>
                            </div>
                            <% } else { %>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="howmany" id="comboOne"
                                    value="[Turtle Scratch & Swirl Remover]_1 Bottle - RM135">
                                <label class="form-check-label" for="howmany">
                                    1 Bottle - RM135
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="howmany" id="comboTwo"
                                    value="[Turtle Scratch & Swirl Remover]_2 Bottles - RM180" checked>
                                <label class="form-check-label" for="howmany">
                                    2 Bottles - RM180 RM180 (66% OFF for 2nd bottle)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="howmany" id="comboThree"
                                    value="[Turtle Scratch & Swirl Remover]_3 Bottles - RM202">
                                <label class="form-check-label" for="howmany">
                                    3 Bottles - RM202 (FREE 3rd bottle, 50% OFF for 2nd bottle)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="howmany" id="comboFour"
                                    value="[Turtle Scratch & Swirl Remover]_4 Bottles - RM243">
                                <label class="form-check-label" for="howmany">
                                    4 Bottles - RM243 (FREE 4th bottle, 60% OFF for 2nd & 3rd bottle)
                                </label>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </fieldset>
                <div class="form-row">
                    <div class="col">
                        <h6 align="center">*To order more than 4, leave a comment in the note section!</h6>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="card">
                <h5 align="center" class="card-header">
                    Fill in your particulars
                </h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col">
                            <label for="name">*Name</label>
                            <input type="name" class="form-control" id="name" name="name" value="<%= name %>" required>
                        </div>
                        <div class="col">
                            <label for="phoneumber">*Phone Number</label>
                            <input type="tel" class="form-control" id="phonenumber" name="phonenumber" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="inputState">*State</label>
                            <input type="text" class="form-control" id="inputState" name="inputState" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="inputCity">*City</label>
                            <input type="text" class="form-control" id="inputCity" name="inputCity" required>
                        </div>
                        <div class="col">
                            <label for="inputZip">*Zip</label>
                            <input type="text" class="form-control" id="inputZip" name="inputZip" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="inputAddress">*Full Address</label>
                            <input type="text" class="form-control" id="inputAddress" name="inputAddress" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="card">
                <h5 align="center" class="card-header">
                    Select your preferences
                </h5>
                <div class="card-body">
                    <div class="form-row">
                        <fieldset class="form-group">
                            <div class="col">
                                <legend class="col-form-label col-sm-2 pt-0">Preferred day</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="week" id="weekday"
                                            value="weekday" checked>
                                        <label class="form-check-label" for="weekday">
                                            Weekdays
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="week" id="weekend"
                                            value="weekend">
                                        <label class="form-check-label" for="weekend">
                                            Weekends
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="col">
                                <legend class="col-form-label col-sm-2 pt-0">Preferred Time</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="time" id="morning"
                                            value="morning" checked>
                                        <label class="form-check-label" for="morning">
                                            Morning
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="time" id="afternoon"
                                            value="afternoon">
                                        <label class="form-check-label" for="afternoon">
                                            Afternoon
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="time" id="evening"
                                            value="evening">
                                        <label class="form-check-label" for="evening">
                                            Evening
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputNote">Note</label>
                            <textarea class="form-control" form="insertPurchase" id="inputNote" rows="3"
                                name="inputNote" placeholder="Any delivery instructions"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-actions">
                <button id="submitButton" class="btn btn-danger"
                    style="display: block; margin: 0 auto;">Submit</button>
            </div>
            <br>
        </div>
    </form>
    </div>
</body>

</html>